In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [31]:
data = pd.read_csv('2010-capitalbikeshare-tripdata.csv')

In [32]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [33]:
data.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [35]:
data.shape

(115597, 9)

In [36]:
data['Member type'].value_counts()

Member     91586
Casual     24001
Unknown       10
Name: Member type, dtype: int64

In [76]:
#Remove rows where y is unknown
data = data[data['Member type'] != 'Unknown']
data['Member type'].value_counts()

1    91586
0    24001
Name: Member type, dtype: int64

In [99]:
x,y = data['Duration'], data['Member type']

y[ y == 'Member' ] = 1
y[ y == 'Casual' ] = 0

/Users/rumilahiri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/rumilahiri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [136]:
x = np.asarray(x)
y = np.asarray(y)
y = y.astype('int')

In [137]:
val = data[['Duration','Member type']]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [138]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import f1_score, precision_score, recall_score, confusion_matrix

from sklearn.naive_bayes import GaussianNB

In [139]:
scaler = StandardScaler()
x_train = np.expand_dims(x_train, axis=-1)
x_test = np.expand_dims(x_test, axis=-1)

In [140]:
#x_train = scaler.fit_transform(x_train)
#x_test = scaler.transform(x_test)

In [141]:
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [144]:
y_pred=model.predict(x_test)
print('F1 Score : %f' % f1_score(y_test,y_pred))
print('Precision: %f' % precision_score(y_test,y_pred))
print('Recall   : %f' % recall_score(y_test,y_pred))

F1 Score : 0.903055
Precision: 0.827845
Recall   : 0.993296

In [145]:
model = LogisticRegression()
model.fit(x_train,y_train)

/Users/rumilahiri/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [146]:
y_pred=model.predict(x_test)
print('F1 Score : %f' % f1_score(y_test,y_pred))
print('Precision: %f' % precision_score(y_test,y_pred))
print('Recall   : %f' % recall_score(y_test,y_pred))

F1 Score : 0.911076
Precision: 0.845008
Recall   : 0.988350