In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [31]:
data = pd.read_csv('2010-capitalbikeshare-tripdata.csv')

In [32]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [33]:
data.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [35]:
data.shape

(115597, 9)

In [36]:
data['Member type'].value_counts()

Member     91586
Casual     24001
Unknown       10
Name: Member type, dtype: int64

In [37]:
#Remove rows where y is unknown
data = data[data['Member type'] != 'Unknown']
data['Member type'].value_counts()

Member    91586
Casual    24001
Name: Member type, dtype: int64

In [51]:
val = data[['Duration','Member type']]
from sklearn.model_selection import train_test_split
train,test=train_test_split(val,test_size=0.20,random_state=0)

In [52]:
trainlabel =train["Member type"].copy()
train=train.drop("Member type", axis=1)

testlabel =test["Member type"].copy()
test=test.drop("Member type", axis=1)

In [53]:
trainlabel[ trainlabel == 'Member' ] = 1
trainlabel[ trainlabel == 'Casual' ] = 0

testlabel[ testlabel == 'Member' ] = 1
testlabel[ testlabel == 'Casual' ] = 0

In [54]:
train.head()

       Duration
63775        66
35395      1517
1556       1200
57900      1126
93495       374

In [55]:
trainlabel.head()

63775    1
35395    1
1556     1
57900    1
93495    1
Name: Member type, dtype: object

In [56]:
train.shape

(92469, 1)

In [57]:
test.shape

(23118, 1)

In [58]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import f1_score, precision_score, recall_score

from sklearn.naive_bayes import GaussianNB

In [59]:
model = GaussianNB()
model.fit(train,trainlabel)

/Users/rumilahiri/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Unknown label type: 'unknown'